@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Please check your email to reset your password. Email may be flagged by spam filters, so please check your spam folder.
    </p>
</div>
	
