@{
    ViewBag.Title = "Confirmation Email Sent";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Please check your email and confirm your email address. Email confirmation may be flagged by spam filters, so please check your spam folder.
    </p>
</div>
	
